{% extends 'base.html.twig' %}

{% block title %}Liste d'auteurs{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>Liste d'auteurs</h1>

        {% if is_granted('ROLE_AJOUT_DE_LIVRE') %}
            <twig:Admin:ButtonNewEntity
                name="Créer un auteur"
                action="app_admin_author_new"
                width="140" />
        {% endif %}

        <ul class="list-group list-group-flush">
            {% for author in authors %}
                <twig:Admin:AuthorCard id="{{ author.id }}" name="{{ author.name }}" />
                {% else %}
                    <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        </ul>
        {{ pagerfanta(authors) }}
    </div>
</section>
{% endblock %}
