{% extends 'base.html.twig' %}

{% block title %}Détail d'un éditeur{% endblock %}

{% block body %}
    <style>
        .exmple-wraper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .exmple-wraper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <section class="container px-4">
        <div class="w-50 m-auto">
            <h1>Editeur : </h1>
            {% if editor is not null %}
                <div class="card mb-1 m-auto">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <h4 class="mb-1">{{ editor.name }}</h4>
                            <small class="text-muted">Identifiant : {{ editor.id }}</small>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>Editeur non trouvé</div>
            {% endif %}
            <div class="d-flex p-2">
                <twig:ButtonAction
                    name="Retour"
                    action="app_admin_editor_index"
                    type="primary"
                    width="80"
                    icon="typcn:arrow-back" />
                {% if is_granted('ROLE_EDITION_DE_LIVRE') %}
                    <twig:ButtonAction
                        name="Editer"
                        action="app_admin_editor_edit"
                        :parameters="{ id: editor.id }"
                        type="warning"
                        width="75"
                        icon="ic:twotone-edit"
                        size="24" />
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <twig:Admin:Form:ButtonRemove
                        action="app_admin_editor_remove"
                        :parameters="{ id: editor.id }" />
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
