    <footer class="py-5 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">Copyright &copy; Biblios - Tous droits réservés 2024</p>
            <p class="m-0 text-center text-white">made by <a class="text-primary" href="https://www.linkedin.com/in/baptiste-fotia">Baptiste Fotia</a></p>
        </div>
    </footer>