{% extends 'base.html.twig' %}

{% block title %}Liste de livres{% endblock %}

{% block body %}

<section class="container px-4">
    <div class="w-50 m-auto">
        <h1>Liste de livres</h1>

        {% if is_granted('ROLE_AJOUT_DE_LIVRE') %}
            <twig:Admin:ButtonNewEntity
                name="Créer un livre"
                action="app_admin_book_new"
                width="130"
                icon="fluent:book-add-24-filled" />
        {% endif %}

        <ul class="list-group list-group-flush">
            {% for book in books %}
                <twig:Admin:BookCard id="{{ book.id }}" title="{{ book.title }}" />
                {% else %}
                    <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        </ul>
        {{ pagerfanta(books) }}
    </div>
</section>
{% endblock %}
